name: Build Kivy APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: kivy/buildozer:latest

    env:
      BUILDOZER_NO_ROOT_CHECK: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build APK
        run: |
          buildozer android debug --non-interactive

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-kivy-apk
          path: bin/*.apk
